:root{
    --titlescolor: hsl(14, 45%, 36%);
    --subttitlecolor: hsl(332, 51%, 32%);
    --backgroundcard: hsl(0, 0%, 100%);
    --subtitleareaback: hsl(330, 100%, 98%);
    --background-color: hsl(30, 54%, 90%);
    --letter: hsl(30, 18%, 87%);
    --nose: hsl(30, 10%, 34%);
    --maintitle: hsl(24, 5%, 18%);


}


*{
    box-sizing: border-box;
    margin: 0 auto;
    font-family: 'Outfit', 'Young Serif', sans-serif, serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:"slnt" 0;
    font-size: 16px;
}

.all{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--background-color);

}

.image{
    min-width: 375px;
    max-width: 750px;
    
}


img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content{
    width: 100%;
    min-width: 375px;
    max-width: 750px;
    padding: 2.25rem;
    background-color: var(--backgroundcard);
    line-height: 1.5rem;
    color: rgba(0, 0, 0, 0.452);
    
}

.title{
    color: var(--maintitle);
    font-family: serif;
    font-size: 2.2rem;
    font-weight: 800;
    line-height: 2.2rem;
    margin-bottom: 1rem;
}

.subtitle-card{
    background-color:  var(--subtitleareaback);
    line-height: 2.5rem;
    border-radius: 0.4rem;
    padding: 1.2rem;
    margin-top: 1rem;
    margin-bottom: .2rem;
}

p{
    font-size: .97rem;
    font-family: 'Outfit', sans-serif;
    font-weight: 500;
}


.subtitle{
    color: var(--subttitlecolor);
    font-size: 1.3rem;
    font-weight: 600;
    letter-spacing: 0.02rem;
    font-family: 'Outfit', sans-serif;
}


.card{
    line-height: 1.4rem;
}




.titles{
    font-family: 'Young Serif', serif;
    color: var(--titlescolor);
    font-weight: 600;
    font-size: 2rem;
    margin: 2rem 0 1.5rem  0;
}

/* .card-area li {
    margin-left: -.5rem;
} */

li::marker {
    color: hsl(332, 51%, 32%);
    font-weight: 800;
}
.ingredients{
    border-bottom: 1px var(--letter) solid;
    padding-bottom: 2rem;
}

.list-ing li{
    margin-left: -.5rem;
}

.list-ing  p{
    margin-left: 1rem;
}

.instructions{
    border-bottom: 1px var(--letter) solid;
    padding-bottom: 2rem;
}



.list-instructions li{

    font-weight: normal;
    margin-bottom: 10px;
    margin-left: -1rem;
    text-align: start;
}

.list-instructions li::marker {
    margin-right: 2rem;
}

.list-instructions p{
    font-weight: normal;
    margin-bottom: 10px;
    margin-left: 20px;
    text-align: start;
}
    


.nutrition{
    padding-bottom: 2rem;
}

.paragraph{
    color: rgba(0, 0, 0, 0.452);
    font-weight: 600;
}

.table-nutrition{
    margin-top: 1.5rem;
    width: 100%;
    border-spacing: 0;
}


.table-nutrition td{
    border-bottom: 1px solid var(--letter);
    line-height: 2rem;
    color: rgba(0, 0, 0, 0.452);
    font-weight: 600;
    border-collapse: collapse;
    padding: 0.5rem 0;
    
    padding-left: 2.2rem;
}

.table-nutrition td:nth-child(2) {
    
    color: var(--titlescolor); 
    text-align: left;
    
  }
  
  .table-nutrition td:nth-child(1) {
    width: 40%;
}


.attribution{
    margin:1rem auto;
    margin-bottom: 0.5rem;
    width: 320px;
    color: black;
}


@media (min-width: 768px) {
    .all{
        display: flex;
        flex-direction: column;
        justify-content: center;
        
        
    
    }
    

     .card{
        margin-top: 6rem;
        width: 60;
        border-radius: 20px;
        width: 84%;
        max-width: 920px;
     }

     .image{
        width: 100%;
        max-width: 920px;
        background-color: white;
        padding: 2.25rem;
        border-radius: 1.6rem 1.6rem 0 0;
    }

    img{
        border-radius: 1rem;
        object-fit: none;
    }

    
    .content{
        width: 100%;
        max-width: 920px;
        padding: 2.25rem;
        background-color: var(--backgroundcard);
        line-height: 1.5rem;
        color: rgba(0, 0, 0, 0.452);
        border-radius: 0 0 20px 20px;
        font-size: calc(24px * 2);
        
    }

    .title{
        margin-bottom: 2rem;
    }
    
   
    
    
    
    
      
    
    }


