:root{
    --titlescolor: hsl(14, 45%, 36%);
    --subttitlecolor: hsl(332, 51%, 32%);
    --backgroundcard: hsl(0, 0%, 100%);
    --subtitleareaback: hsl(330, 100%, 98%);
    --background-color: hsl(30, 54%, 90%);
    --letter: hsl(30, 18%, 87%);
    --nose: hsl(30, 10%, 34%);
    --maintitle: hsl(24, 5%, 18%);


}


*{
    box-sizing: border-box;
    margin: 0 auto;
    font-family: 'Outfit', 'Young Serif', sans-serif, serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:"slnt" 0;
    font-size: 16px;
    
    
}

.all{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--background-color);

}

.image{
    width: 375px;
    max-width: 375px;
    height:30px ;
}

img{
    width: 100%;
    max-width: 375px;
    height: 100%;
}

.content{
    width: 100%;
    max-width: 375px;
    padding: 2.25rem;
    background-color: var(--backgroundcard);
    line-height: 1.5rem;
}

.title{
    color: var(--maintitle);
    font-family: 'Outfit', sans-serif;
    font-size: 2rem;
    font-weight: 700;
    line-height: 2.2rem;
    margin-bottom: 1rem;
}

.subtitle-card{
    background-color:  var(--subtitleareaback);
    line-height: 2.5rem;
    border-radius: 0.4rem;
    padding: 1.2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

p{
    font-size: .97rem;
    font-family: 'Outfit', sans-serif;
}
.subtitle{
    color: var(--subttitlecolor);
    font-size: 1.3rem;
    font-weight: 600;
    letter-spacing: 0.02rem;
    font-family: 'Outfit', sans-serif;
}

ul {
    list-style-type: none;
}

li{
    line-height: 2rem;
}


 
.titles{
    font-family: 'Young Serif', serif;
    color: var(--titlescolor);
    font-weight: 600;
    font-size: 2rem;
}


.attribution{
    margin:1rem auto;
    margin-bottom: 0.5rem;
    width: 320px;
    color: white;
}


