* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --background-color: hsl(210, 46%, 95%);
  --card-1-background-color: hsl(263, 55%, 52%);
  --card-2-background-color: hsl(217, 19%, 35%);
  --card-3-background-color: hsl(0, 0%, 100%);
  --card-4-background-color: hsl(219, 29%, 14%);
  --names-color: hsl(0, 0%, 81%);
}

body {
  background-color: var(--background-color);
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 13px;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  overflow-x: hidden;
  background-color: var(--background-color);
  margin: 2rem auto;
}

.card {
  min-width: 200px; /* Ajusta según sea necesario */
  max-width: 300px; /* Ajusta según sea necesario */
  border-radius: 10px;
  overflow: hidden;
  margin: 1rem; /* Ajusta según sea necesario */
  padding: 1.8rem;
}

.card-1 {
  background-color: var(--card-1-background-color);
}

.card-2 {
  background-color: var(--card-2-background-color);
}

.card-3 {
  background-color: var(--card-3-background-color);
} 

.card-4 {
  background-color: var(--card-4-background-color);
}

.card-5 {
  background-color: var(--card-3-background-color);
}

.header {
  padding-left: 0;
  width: 100%;
  display: grid;
  grid-template-rows: 2;
  grid-template-columns: 2rem 3fr;
  gap: 0.4rem;
  align-items: center;
  margin: 0;
  margin-bottom: 1rem;
}

.avatar {
  border: 2px solid hsla(0, 0%, 81%, 0.5);
  display: inline-block;
  border-radius: 50%;
  overflow: hidden;
  width: 2rem;
  height: 2rem;
  grid-column:1/2;
  grid-row: 1/3;
}

img {
  width: 100%;
}

.name {
  color: var(--names-color);
  grid-column: 2/3;
  grid-row: 1/2;
  margin-left: .8rem;
}

.verified {
  opacity: 0.5;
  grid-column:  2/3;
  grid-row: 2/3;
}

.text {
  color: rgba(255, 255, 255, 0.884);
  margin-bottom: 2rem;
  font-size: 1.58rem;
  max-width: 328px;
}

.quot {
  color: var(--names-color);
  opacity: 0.7;
  font-size: 1rem;
  max-width: 328px;
  margin-bottom: 2rem;
}

.card-3 .name, .card-3 .text, .card-3 .quot {
  color: var(--card-2-background-color);
}

.card-5 .name, .card-5 .text, .card-5 .quot {
  color: var(--card-4-background-color);
}

.card-3 .quot, .card-5 .quot {
  opacity: 0.7;
}

@media (min-width: 1024px) {
  main {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 1rem;
      min-width: 1024px;
      max-width: 2048px;
  }

  .card {
      min-width: 200px; /* Ajusta según sea necesario */
      max-width: 600px; /* Ajusta según sea necesario */
      border-radius: 10px;
      min-height: 500px;
      overflow: hidden;
      margin: 1rem; /* Ajusta según sea necesario */
      padding: 1.8rem;
  }

  .card-1 {
    grid-column: span 2;
  }

  .card-2 {
      grid-row: 1/2;
      grid-column: 3/4;
  }

  .card-3 {
      grid-row: 2/3;
      grid-column: 1/2;
  } 

  .card-4 {
      grid-row: 2/3;
      grid-column: 2/4;
  }

  .card-5 {
      grid-row: 1/3;
      grid-column: 4/5;
      
  }
}
