* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font-barlow: "Barlow Semi Condensed", sans-serif;

  --font-W-500: 500;
  --font-W-600: 600;

  --font-s-400: 1.2rem;
  --font-s-500: 1.4rem;
  --font-s-600: 2rem;

  --padding-card: 20px 45px;
  --margin-container: 20px 100px;

  --lh-text: 150%;
  --lh-quote-main: 120%;

  --cor-Moderat-violet: hsl(263, 55%, 52%);
  --cor-card-border: hsl(263, 55%, 65%);
  --cor-Very-dark-grayish-blue: hsl(217, 19%, 35%);
  --cor-Very-dark-blackish-blue: hsl(219, 29%, 14%);
  --cor-White: hsl(0, 0%, 100%);

  --cor-Light-gray: hsl(0, 0%, 81%);
  --cor-Light-gray-modif: hsl(0, 0%, 60%);
  --cor-Light-grayish-blue: hsl(210, 46%, 95%);
}

html {
  font-size: 62.5%;
}

body {
  font-family: var(--font-barlow);
  font-weight: var(--font-W-500);
  font-size: var(--font-s-500);

  min-height: 100vh;
  background: var(--cor-Light-grayish-blue);
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  max-width: 100%;
  display: block;
}

p {
  font-size: var(--font-S-400);
  color: var(--cor-Light-gray);
  line-height: var(--lh-text);
}

.text--color {
  color: var(--cor-Light-gray-modif);
}

small {
  color: var(--cor-Light-gray);
}

.container {
  width: 100%;
  max-width: 1440px;
  margin: var(--margin-container);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas:
      "card1 card1 card2 card5"
      "card3 card4 card4 card5";
  gap: 25px;
}

.grid_card1 {
  grid-area: card1;
}

.grid_card2 {
  grid-area: card2;
}

.grid_card3 {
  grid-area: card3;
}

.grid_card4 {
  grid-area: card4;
}

.grid_card5 {
  grid-area: card5;
}

.card {
  background: var(--cor-White);
  border-radius: 12px;
  padding: var(--padding-card);
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  z-index: 1;
}

.card--bg-v {
  background: var(--cor-Moderat-violet);
  position: relative;
}

.card__img-quotation {
  position: absolute;
  right: 20%;
  top: 0;
  z-index: -1;
}

.card--bg-gb {
  background: var(--cor-Very-dark-grayish-blue);
}

.card--bg-bb {
  background: var(--cor-Very-dark-blackish-blue);
}

.card__header {
  margin-bottom: 14px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.card__img {
  border-radius: 100%;
  min-width: 20px;
  width: 40px;
}

.card__img--border {
  border: 3px solid var(--cor-card-border);
}

.card__username {
  font-size: var(--font-S-400);
  font-weight: var(--font-W-500);
  color: var(--cor-White);
}

.card__username--color {
  color: var(--cor-Very-dark-grayish-blue);
}

.card__text-quote-main {
  color: var(--cor-White);
  font-weight: var(--font-W-600);
  font-size: var(--font-s-600);
  line-height: var(--lh-quote-main);
  letter-spacing: 1px;
  margin-bottom: 18px;
}

.card__text-quote-main--color {
  color: var(--cor-Very-dark-grayish-blue);
}

@media screen and (max-width: 1280px) {
  .container {
      margin: var(--margin-container);
      grid-template-columns: repeat(2, 1fr);
      grid-template-areas:
          "card1 card4"
          "card3 card2"
          "card5 ....";
  }
}

@media screen and (max-width: 900px) {
  :root {
      --margin-container: 50px 20px;
  }

  .container {
      margin: var(--margin-container);
      grid-template-columns: 1fr;
      grid-template-areas:
          "card1"
          "card2"
          "card3"
          "card4"
          "card5";
  }

  

}

.attribution {
  font-size: var(--font-s-400);
  text-align: center;
  margin-top: 1.5REM;
}