*{
    margin: 0 auto;
    box-sizing: border-box;
}

html{font-family: 'Montserrat', sans-serif;
}

body{
    min-width: 375px;
    background-color: hsl(30, 38%, 92%);
    font-size: 14px;
    
}

.all{
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.container{
    background-color: white;
    margin: 2rem 1rem;
    
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: auto; /* Changed to auto to allow it to expand to fill the available space on the screen */
    position: relative;
}

.image{
    width: 100%;
    border-radius: 1rem 1rem 0 0;    
}

.desktop-image{
    display: none;
}

.img-container{
    border-radius: 0.5rem;
    margin-bottom: 2rem;
    max-width: 700px;
    
    
}

section{
    width: 94%;
    margin-top: 0; /* Changed to 0 to ensure it is flush with the top of the container element */
    padding-left: 1.5rem;
    
}

.text{
    margin-top: 2rem;
    color: hsl(228, 12%, 48%);
    font-family: 'Montserrat', sans-serif;
    }

h1{
    font-size: 1.2rem;
    font-family: 'Fraunces', serif;;
}

.title{
    text-transform: uppercase;
}

.price{
    width: 100%;
    margin-top: 3rem;
    margin-bottom: 2rem;
    height: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.price1{
    display: inline-block;
    font-size: 2rem;
    margin: 1rem 0;
    font-family: 'Fraunces', serif;
    color: hsl(158, 36%, 37%);
    font-weight: 700;
    
}

.price2{
    display: inline-block;
    vertical-align: middle;
    color: hsl(228, 12%, 48%);
    margin: 1rem 0;
    margin-left: 0.8rem;
    height: 2rem;
    text-decoration: line-through;
}

.button-container{
    width: 100%;
    cursor: pointer;
    margin-top: 1rem 0;
    height: 2.8rem;
    border-radius: 0.5rem;
    display: inline-block;
    color: white;
    background-color: hsl(158, 36%, 37%);
    display: flex;
    justify-content: center;
    align-items: center;
        
}

a{
    text-decoration: none;
    color: white;
}
.cart{
    display: inline-block;
    margin-right: 0.2rem;
}

.shop{
    display: inline-block;
    margin-left: 0.4rem;
}


.attribution{
    margin-top: 1rem;
    padding-bottom: 2rem;
}

@media screen and (min-width: 700px) and (min-height:500px) {
    .desktop-image{
        display: block;
        border-radius: 0.5rem 0 0 0.5rem;        
        width: 100%;
    }
    
    .all{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .container{ 
        
        max-width: 700px;
        display: inline-block;
        border-radius: 0.5rem;
        display: flex;
        flex-direction: row;
        justify-content: center;
        
        padding: 0;
    }

    .image{
        display: none;
    }

    

    .img-container{
        margin: 0;
        max-width: 45%;
    }

    section{
        line-height: 1.5rem;
        max-width: 45%;
        padding: 0;
    }

    .description{
        font-size: 14px;
    }

    .name{
        font-size: 2.3rem;
        line-height: normal;
        color: rgba(0, 0, 0, 0.836);
    }
    .attribution{
        margin-top: 1rem;
        padding: 0;
    }
}