*{
    margin: 0 auto;
    box-sizing: border-box;
}

body{
    font-family: 'Hanken Grotesk', sans-serif;
    text-align: center;
    color: white;
}

.all{
    width: 100%;
    min-width: 375px;
    max-width: 900px;
    
    
    
}

.card{
    background-color: hsl(252, 100%, 67%);
    background-color: hsl(241, 81%, 54%);
    background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%) );
    border-radius: 0  0 2rem 2rem;
    height: 26rem;
    padding: 2rem;

    
}

h3{
    font-weight: 500;
    /* padding-bottom: 2rem; */
    color: hsl(241, 100%, 89%);
}

.circle{
    background-image: linear-gradient(hsl(256, 72%, 46%), hsla(241, 72%, 46%, 0));
    width: 11rem;
    height: 11rem;
    border-radius: 50%;
    margin: 1.2rem auto;
    font-weight: 800;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 2.4rem;

    
}

/* .circle-container { 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    flex-direction: column; 
} */

.number_container { 
    width: 140px; 
    height: 140px; border-radius: 50%; 
    /* background-color: #ccc;  */
    display: flex; 
    justify-content: center; 
    align-items: center; 
    position: relative; 
} 

.main_number { 
    font-size: 4.2rem; 
} 

/* .text-container { 
    position: absolute; 
    bottom: -2.6rem; 
} */

h2{
    margin-top: -1rem;
    padding: 1rem;
    letter-spacing: 0.02rem;
    
}


p{
    color: hsl(241, 100%, 89%);
}

.results{
    display: flex;
    flex-direction: column;
    padding: 2rem;
    color: black;
}

.tittle{
    font-size: 18px;
    font-weight: 800;
    color: hsl(224, 30%, 27%);
    width: 100%;
    padding-bottom: 2rem;
    display: flex;
    justify-content: left;
}

.score_box{
    width: 100%;
    display: flex;
    justify-content: left;
    padding: 1rem 0;
    border-radius: 0.5em;
    margin: .5rem 0;
}

.icon{
    margin: 0 1rem;
}

.score{
    margin-right: 1rem;
    color: hsl(224, 30%, 27%);
    font-weight: 800;
}

.reaction{
    color: #f52e70;
    background-color: #f52e701a;
}

.memory{
    color: hsl(39, 100%, 56%);
    background-color: hsla(39, 100%, 56%, 0.205);
}

.verbal{
    color: hsl(166, 100%, 37%);
    background-color: hsla(166, 100%, 37%, 0.13);
}

.visual{
    color: hsl(234, 85%, 45%);
    background-color: hsla(234, 75%, 57%, 0.192);
}

.next{
    margin-top: 2rem;
    padding: 1rem;
    background-color: hsl(224, 30%, 27%);
    width: 80%;
    border-radius: 2.5rem;
}

.link{
    text-decoration: none;
    font-weight: 500;
    font-family: inherit;
    color: white;
}

.next:hover{
    background-color:  hsl(241, 81%, 54%);
}

.attribution{
    margin: 1rem;
    /* background-color: red; */
    color: blue;
}
.finale{
    display: block;
}

@media screen and (min-width: 800px) {
   
   
    .all{
        box-shadow: 2px 0 3px #20202027;
        align-self: center;
        width: 60%;
        height: 50%;
        
    }
    .card {
        border-radius: 2rem;
        display: inline-block;
        width: 40%;
        
        
    }
    .results{
        border-radius: 0 2rem 2rem 0;
        display: inline-block;
        width: 40%;
    }
}


@media (min-width: 800px) {
    .all {
      display: flex;
      justify-content: center;
      align-content: center;
      flex-direction: row;
      margin-top: 15vh;
      margin-bottom: 15vh;
      min-height: 500px;
      border-radius: 2rem;
      padding: 0;
      box-shadow: 2px 1px 3px grey;
     
    }
  
    .card, .results {
      width: 50%;
      height: 500px;
      margin: 0 2rem;
      margin-left: -1rem;
    }
  
    .card, .results {
      align-self: center;
    }
  }